In [16]:
# The code was removed by DSX for sharing.

In [11]:
df.data.1 <- read.csv("https://query.data.world/s/ctnyny3uk5yv3iqicf3n2p5nui7ugy", header=TRUE);
# https://query.data.world/s/ctnyny3uk5yv3iqicf3n2p5nui7ugy

In [12]:
str(df.data.1)

'data.frame':	376 obs. of  6 variables:
 $ Year                  : int  2017 2017 2017 2017 2017 2017 2017 2017 2017 2017 ...
 $ Month                 : Factor w/ 10 levels "April","August",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ CITY.1                : Factor w/ 1 level "HYDERABAD": 1 1 1 1 1 1 1 1 1 1 ...
 $ CITY.2                : Factor w/ 46 levels "AGARTALA","AHMEDABAD",..: 1 3 4 8 9 17 18 19 22 23 ...
 $ PASSENGERS.TO.CITY.2  : int  49 1461 0 4195 48886 5533 2237 9770 5063 5704 ...
 $ PASSENGERS.FROM.CITY.2: int  55 1791 422 3661 49131 5943 2802 9775 4455 5764 ...

In [3]:
# The code was removed by DSX for sharing.

  Year Month CITY.1    CITY.2     PASSENGERS.TO.CITY.2 PASSENGERS.FROM.CITY.2
1 2017 April HYDERABAD AGARTALA      49                   55
2 2017 April HYDERABAD AURANGABAD  1461                 1791
3 2017 April HYDERABAD BAGDOGRA       0                  422
4 2017 April HYDERABAD CHANDIGARH  4195                 3661
5 2017 April HYDERABAD CHENNAI    48886                49131
6 2017 April HYDERABAD INDORE      5533                 5943

In [6]:
str(df.data.1)

'data.frame':	376 obs. of  6 variables:
 $ Year                  : int  2017 2017 2017 2017 2017 2017 2017 2017 2017 2017 ...
 $ Month                 : Factor w/ 10 levels "April","August",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ CITY.1                : Factor w/ 1 level "HYDERABAD": 1 1 1 1 1 1 1 1 1 1 ...
 $ CITY.2                : Factor w/ 46 levels "AGARTALA","AHMEDABAD",..: 1 3 4 8 9 17 18 19 22 23 ...
 $ PASSENGERS.TO.CITY.2  : int  49 1461 0 4195 48886 5533 2237 9770 5063 5704 ...
 $ PASSENGERS.FROM.CITY.2: int  55 1791 422 3661 49131 5943 2802 9775 4455 5764 ...

In [10]:
# The code was removed by DSX for sharing.

[1] "bucket"    "df.data.1" "headers"   "obj"       "url"

In [5]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

## this is my markdown text cells

this is text cell sample